* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    font-family: 'IM Fell DW Pica', serif;
    text-align: center;
    font-size: 14px;
    color: #fefefe;
    line-height: 1.5;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

nav, footer {
    padding: 1% 0;
    background-color: #444;
    font-family: 'Nunito', sans-serif;
    color: #fefefe;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header {
    padding: 12% 0;
}

section {
    padding: 6% 0;
}

.name {
    display: inline-block;
    background-color: #444;  
}

ul {
    list-style-type: none;
    margin-right: 10%;
}

li {
    display: inline-block;
}

h1 {
    font-size: 16px;
    text-align: left;
    position: relative;
    top: 75px;
    left: 25px;
}

a {
    text-decoration: none;
    color: #360000;
}

a:hover {
    color: #360000;
}

.hero {
    background-image: url(assets/coffeeLaptopBackpack.jpg);
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: #ccc;
    background-position: center top;
    color: #444;
}

p {
    margin: 10px;
    text-align: left;
}

img {
    max-width: 100%;
    padding: 0 10px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.contactButton {
    width: 30px;
    height: 20px;
}

.contact, .links {
    text-align: left;
    color: #f2f1ef;
}

#projects {
    font-family: 'Nunito', sans-serif;
    padding-top: 1em;
    background-color: #838c91;
    color: #002627;
    display: flex;
    flex-direction: column-reverse;
}

#contact {
    font-family: 'Nunito', sans-serif;
    background-color: #6c7378;
}

.navlinks {
    background-color: #444;
    padding-left: 5px;
    flex-grow: 1;
    font-size: 14px;
    text-align: right;
    margin-right: 15px;
}

.link {
    padding: 8px;
    color: #fefefe;
}

.link a:hover {
    color: #c5eff7;
}

.link a:visited, .link a:active {
    color: #e6ffe6;
}

#bio {
    background-color: #525149;
    color: #fefefe;
}

p.bio {
    margin: 10% 20%;
}

.description p {
    margin: 5% 10%;
}

h2 {
    margin: 0 auto;
}

#contact p {
    margin: 10% 15% 5% 15%;
}

.contact li, .links li {
    display: block;  
    text-align: left;
}

.projects {
    margin: 20% auto;
}

@media screen and (min-width: 435px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 25px;
    }

    .navlinks {
        font-size: 18px;
    }

    img {
        object-fit: inherit;
    }

    .description {
        padding: 0;
    }

    ul {
        margin: 0 10%;
        padding: 0;
    }
}

@media screen and (min-width: 650px) {
    .hero {
        background-image: url(assets/coffeeLaptopBackpack-midsize.jpg);
        background-position: 50% 25%;
        height: 125vh;
    }

    .projects {
        margin: 10% auto;
    }

    p.bio {
        margin: 5% 15%;
    }
}

@media screen and (min-width: 950px) {
    .hero {
        background-image: url(assets/coffeeLaptopBackpack-large.jpg);
        background-position: 50% 35%;
        height: 125vh;
    }  

    #projects {
        align-items: center;
        padding-top: 5%;
    }

    #quiz, #forecast, #road-trippin, #geekbox {
        display: flex;
        flex-direction: row;
    }

    #forecast, #geekbox {
        padding-bottom: 10px;
        flex-direction: row-reverse;
    }
    .projectPicture {
        width: 50%;
    }

    .description {
        width: 50%;
    }
    
    h2 {
        margin: 5%;
    }

    #contact p {
        margin: 5% 15%;
    }

    h1 {
        top: 0;
    }
}

@media screen and (min-width: 1250px) {
    h1 {
        left: 30%;
    }
}
